#header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

.container {
    width: 100%;
    padding: 20;
    margin: 0 auto;
}

body div.container ul li a {
    color: blue;
    text-decoration: none;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
}

button {
    background-color: green;
    font-weight: bolder;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
}

.footer {
    background-color: #000;
    color: #333;
    padding: 10px 0;
    text-align: center;
}

.marquee {
    behavior: scroll;
    direction: left;
    width: 100%;
}

.warning {
    color: red !important;
    font-size: 16px !important;
}

.large-file {
    margin: 10px;
    padding: 10px;
}

.large-file {
    margin: 10px;
    padding: 10px;
}

.header-title {
    font-size: 24px;
    font-weigth: bold;
}
